<div *ngIf="isShowForm">
    <h1>Lançamento de ponto</h1>
    <form nz-form nzLayout="horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe um colaborador!">
                <nz-select nzPlaceHolder="Selecionar colaborador" nzAllowClear formControlName="collaborator">
                    <ng-container *ngFor="let o of optionList">
                        <nz-option *ngIf="!isLoading" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe a período da operação!">
                <nz-date-picker formControlName="pointRecordDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
                    nzPlaceHolder="Informe o período da operação!"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Operação</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe a operação!">
                <nz-radio-group formControlName="operation">
                    <label nz-radio nzValue="E">Entrada</label>
                    <label nz-radio nzValue="S">Saída</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">Criar</button>
        <button type="button" nz-button nzType="default" routerLink="/admin/collaborator/view">Voltar</button>

        <ng-template #prefixTemplateName><i nz-icon nzType="font-colors"></i></ng-template>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #prefixTemplatePass><i nz-icon nzType="key"></i></ng-template>
    </form>
</div>
<nz-result *ngIf="success" nzStatus="success" nzTitle="Laçamento concluído com sucesso!">
    <div nz-result-extra>
        <button nz-button nzType="primary" (click)="resetForm()">Novo lançamento</button>
        <button nz-button nzType="default" routerLink="/admin/collaborator/view">Voltar</button>
    </div>
</nz-result>
<nz-result *ngIf="error" nzTitle="Falha no envio" nzStatus="error"
    nzSubTitle="Verifique e modifique as informações a seguir antes de reenviar.">
    <div nz-result-extra>
        <button nz-button nzType="primary" (click)="resetForm()">Tentar novamente</button>
        <button nz-button nzType="default" routerLink="/admin/collaborator/view">Voltar</button>
    </div>
</nz-result>