<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>{{title}}</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/', 'admin', 'monitor']">Monitor</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Colaboradores" nzIcon="usergroup-add">
                <ul>
                    <li *ngIf="isManager()" nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/', 'admin', 'collaborator', 'create']">Novo Colaborador</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/', 'admin', 'collaborator', 'point']">Lançar registro ponto</a>
                    </li>
                    <li *ngIf="isManager()" nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/', 'admin', 'collaborator', 'view']">Consulta</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
                <span class="header-viewer">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        {{currentViewer.username}}
                        <i nz-icon nzType="down"></i>
                      </a>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li (click)="logout()" nz-menu-item>Sair</li>
                        </ul>
                      </nz-dropdown-menu>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>