<div id="back">
    <div class="backLeft"></div>
</div>
<div id="box">
    <div class="topLayer">
        <div class="right">
            <div class="content">
                <h2>Entrar</h2>
                <nz-alert *ngIf="error != ''" nzType="error" nzCloseable [nzMessage]="error" nzShowIcon></nz-alert>
                <br />
                <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="Por favor informe seu usuário!">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="username"
                                    placeholder="Por favor digite seu usuário" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="Por favor informe sua senha!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password"
                                    placeholder="Por favor digite sua senha" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button nzType="primary" [nzLoading]="loading"
                        [disabled]="!form.valid || loading">Entrar</button>
                </form>
                <br />
                <nz-alert nzType="info" nzMessage="Acessos:" [nzDescription]="prefixTemplateSupervisor"></nz-alert>
                <ng-template #prefixTemplateSupervisor>
                    Usuario: supervisor <br />
                    Senha: 123 <br /><br />
                    Usuario: colaborador <br />
                    Senha: 123
                </ng-template>
            </div>
        </div>
    </div>
</div>