<div *ngIf="isShowForm">
    <h1>Novo Colaborador</h1>
    <form nz-form nzLayout="horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe seu nome!">
                <nz-input-group [nzPrefix]="prefixTemplateName">
                    <input nz-input formControlName="name" maxlength="100" placeholder="Informe seu Nome" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe seu usuário!">
                <nz-input-group [nzPrefix]="prefixTemplateUser">
                    <input nz-input formControlName="username" maxlength="100" placeholder="Informe seu Usuário" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe sua senha!">
                <nz-input-group [nzPrefix]="prefixTemplatePass">
                    <input type="password" nz-input formControlName="password" maxlength="100"
                        placeholder="Informe sua Senha" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Acesso</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Por favor informe seu acesso!">
                <nz-radio-group formControlName="role">
                    <label nz-radio nzValue="MANAGER">Supervisor</label>
                    <label nz-radio nzValue="USER">Usuário</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">Criar</button>
        <button type="button" nz-button nzType="default" routerLink="/admin/collaborator/view">Voltar</button>

        <ng-template #prefixTemplateName><i nz-icon nzType="font-colors"></i></ng-template>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #prefixTemplatePass><i nz-icon nzType="key"></i></ng-template>
    </form>
</div>
<nz-result *ngIf="success" nzStatus="success" nzTitle="Colaborador atualizado com sucesso!"
    nzSubTitle="Id: {{collaborator.id}}, Nome: {{collaborator.name}}">
    <div nz-result-extra>
        <button nz-button nzType="primary" (click)="resetForm()">Novo colaborador</button>
    </div>
</nz-result>
<nz-result *ngIf="error" nzTitle="Falha no envio" nzStatus="error"
    nzSubTitle="Verifique e modifique as informações a seguir antes de reenviar.">
    <div nz-result-extra>
        <button nz-button nzType="primary" (click)="resetForm()">Tentar novamente</button>
        <button nz-button nzType="default" routerLink="/admin/collaborator/view">Voltar</button>
    </div>
</nz-result>