<nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <nz-col [nzSpan]="12">
        <nz-card nzTitle="Total de Usuários">
            <nz-statistic [nzValue]="totalCollaborators"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
        <nz-card nzTitle="Total de horas">
            <nz-statistic [nzValue]="totalCollaboratorsHours"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>