<div style="margin-bottom: 5px;">
    <button nz-button nzType="primary" routerLink="/admin/collaborator/create">Criar Colaborador</button>
</div>
<nz-table #rowSelectionTable nzShowPagination nzPageSize="5" [nzData]="listOfData">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>
                <button type="button" nz-button nzType="default" (click)="open(data)">Apontamentos</button>
                <button type="button" nz-button nzType="primary"
                    [routerLink]="['/admin/collaborator/update/', data.id]">Editar</button>
                <button type="button" nz-button nzType="danger" (click)="delete(data.id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-drawer *ngIf="currentCollaborator" [nzClosable]="false" [nzWidth]="720" [nzVisible]="pointRecordDrawerVisible" nzPlacement="right"
    nzTitle="Apontamentos - {{currentCollaborator.name}}" (nzOnClose)="close()">
    <nz-table #rowSelectionTable nzShowPagination nzPageSize="15"
        [nzData]="currentCollaborator.collaboratorPointRecords">
        <thead>
            <tr>
                <th>Período</th>
                <th>Operação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataCollaboratorPointRecord of rowSelectionTable.data">
                <td>{{ dataCollaboratorPointRecord.pointDateTime }}</td>
                <td>{{ dataCollaboratorPointRecord.operation == 'E' ? 'Entrada' : 'Saída' }}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-drawer>